.home-land {
    background-image: url('/hero-bg.jpg');

    height: 100vh;
    width: 100vw;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: unset;

}

.now-playing {
    height: 100vh;
    width: 100vw;
}