header {
    width: 100vw;
    padding: 1.5rem;
    height: 7rem;
    position: fixed;
    top: 0;

    background-color: transparent;
    transition: linear;
    transition: height 0.3s ease, background-color 0.3s ease;
}

.scrolled {
    background-color: var(--rich-black-fogra-29);
    height: 5rem;
}

h1, ul, button, a {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

li {
    padding: 0 1rem;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

button {
    background-color: transparent;
    border: none;
}

.logo-brand {
    width: 50px;
}

.search-icon, .language-icon {
    width: 20px;
}

.header-navigate {
    height: 100%;
}

.language-select {
    border-left: 1px rgb(110, 110, 110) solid;
    padding-left: 1rem;
}

.language-selector {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.8rem;
}
.language-selector>option {
    color: black;
}

.sign-in-btn {
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px var(--citrine) solid;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
}